body {
    font-size: 18px;
    padding: 0;
}

.container {
    background-color: #252525;
    padding: 20px;
    width: 250px;
    margin: 200px auto;
    border-radius: 20px;
}

.top-container {
    background-color: #f5f5f5;
    padding: 5px 10px;
    text-align: end;
    border-radius: 8px;
    min-height: 36px;
}

h1 {
    margin: 0;
}

.button-container {
    margin-top: 10px;
}


.btn {
    width: 48px;
    height: 48px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #f5f5f5;
    border: #ddd solid 1px;
    border-radius: 8px;
    color: #0a0a0a;
}

.long-btn {
    width: 112px;
    height: 48px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #f5f5f5;
    border: #ddd solid 1px;
    border-radius: 8px;
    color: #0a0a0a;
}
